---
import Layout from "../layouts/Layout.astro";
---
<Layout>
		<p class="px-1 text-justify text-5xl font-normal">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu condimentum enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut imperdiet enim vitae arcu volutpat egestas. Sed arcu elit, hendrerit ac vulputate ac, congue vel eros. In sed pellentesque diam. In quis ligula risus. Aliquam erat volutpat. Nullam efficitur mi at nunc condimentum, in faucibus est viverra.
	
			Quisque molestie semper urna nec porttitor. Quisque justo velit, malesuada in varius et, mollis a ex. Morbi faucibus, magna ac ullamcorper ultrices, tortor est maximus lorem, vitae laoreet erat nibh eget felis. Sed interdum commodo ipsum sed suscipit. Morbi porta nunc at ex commodo sollicitudin. Integer tempor commodo ante, eget fringilla justo feugiat quis. Vivamus nulla ex, malesuada sit amet lacus eu, aliquet varius orci. Quisque ultricies rutrum arcu sit amet efficitur. Nam egestas tristique nulla, id euismod neque tristique sit amet.
			
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent pulvinar interdum mauris. Etiam feugiat augue in erat cursus, sed aliquet metus feugiat. Nunc tincidunt lacus id venenatis feugiat. Quisque sed condimentum dui. Integer et arcu massa. Maecenas hendrerit, massa at iaculis congue, sem urna faucibus erat, nec egestas orci lorem vitae arcu. Maecenas at ligula sit amet sem vulputate eleifend. Cras suscipit elementum massa, eu elementum diam pulvinar sit amet. Nam sit amet neque sed enim molestie mattis.
			
			Praesent accumsan arcu vel leo ultrices viverra sit amet non sapien. Nam accumsan metus felis, ut suscipit dolor ullamcorper sed. Ut cursus mi non est volutpat, eget placerat velit fringilla. Praesent fermentum tempor lobortis. Maecenas cursus ipsum a iaculis hendrerit. Curabitur metus arcu, lobortis non feugiat non, sodales ac odio. Pellentesque porttitor dignissim libero. Nullam auctor laoreet lectus, fermentum scelerisque nibh sagittis bibendum. Nulla semper sit amet nibh in malesuada. Ut condimentum est dolor, vel ultrices lorem elementum id. Maecenas in porta justo, quis semper tellus.
			
			Mauris commodo semper ligula. Donec viverra at ligula sit amet ullamcorper. Integer turpis libero, pellentesque eu tempus ut, ultrices sit amet ligula. Etiam scelerisque, odio vitae hendrerit condimentum, neque lorem fringilla metus, nec vulputate leo magna vel dolor. Fusce vel enim sed purus commodo ullamcorper. Nullam tristique at lacus sed dignissim. Aliquam sodales ac quam id luctus. Sed consequat urna mi, at viverra odio scelerisque a. Phasellus quis faucibus erat, in fermentum velit. Phasellus rhoncus finibus nulla. Nullam vel venenatis magna. Vestibulum bibendum dolor sit amet nisi scelerisque dapibus. In pellentesque consectetur tellus, at hendrerit magna placerat quis. Integer ut lacus iaculis, vestibulum urna eget, fringilla nunc.
		</p>
</Layout>