---
import ContentLayout from "../layouts/ContentLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<ContentLayout>
		<div class=""> skdfjljkglj </div>
			
	</ContentLayout>
</Layout>
