---

---

<footer>
    <div class="fixed bottom-0 left-0 right-0 h-fit
    bg-red-500 text-white font-bold
    text-center
    ">
        <a class="px-4 py-1 bg-blue-500 text-white rounded hover:bg-blue-600" href="https://github.com/dspnstn">GitHub</a>
    </div>
</footer>
