---

---

<footer>
    <div class="fixed bottom-0 left-0 right-0 h-fit
    bg-amber-200 opacity-90 text-indigo-800 font-bold
    text-center p-1">
        <p class="mb-3">See better and more complex stuff here:</p>
        <a class="px-4 py-1 bg-blue-500 text-white rounded hover:bg-blue-600" href="https://github.com/dspnstn">GitHub</a>
    </div>
</footer>
