---

---

<footer>
    <div class="bottom-0 left-0 right-0 h-fit
    bg-red-500 text-white font-bold
    flex flex-col justify-center items-center
    ">
        <a class="rounded-3xl m-4 pr-8 pl-8 h-20 leading-20 text-2xl 
        text-red-600 bg-red-100 font-semibold no-underline hover:bg-red-200" 
        href="https://github.com/dspnstn">GitHub</a>
    </div> 
</footer>
