---
---
<header class="top-0 left-0 right-0 h-fit
flex flex-col  
bg-red-600 
text-white font-bold
p-1">
<h1 class="text-4xl">This is a classic blog layout.</h1>
<aside class="text-xl">A header, a footer, a menu, tags and posts.</aside>
</header>