---
---
<header class="fixed top-0 left-0 right-0 h-fit
pl-0.5 pr-0.5
bg-amber-200 opacity-90 text-indigo-800 font-bold">
<h1 class="text-4xl">This is a classic blog layout.</h1>
<aside class="text-xl">A header, a footer, a menu, tags and posts.</aside>
</header>