---
import Tag from "./Tag.astro";
---
<div class="mt-2 flex flex-row justify-around items-center flex-wrap gap-1">
    <Tag tag="something" />
    <Tag tag="something else" />
    <Tag tag="other" />
    <Tag tag="more of the same" />     
    <Tag tag="something new" /> 
</div>