---
import Tag from "./Tag.astro";
---
<div class="mt-1 flex flex-row justify-around items-center flex-wrap gap-1">
    <Tag tag="something" />
    <Tag tag="other" />
    <Tag tag="more of the same" /> 
</div>