---
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>02-classic-blog-layout</title>
	</head>
	<body class="min-w-[320px]">
		<Header />
		<Nav />
		<div class="flex flex-col justify-center items-center my-3">
			<slot />
		</div>
		<Footer />
	</body>
</html>
